services:
  php:
    build: ./docker/php
    working_dir: /app
    volumes:
      - ./:/app
    user: "${HOST_UID}:${HOST_GID}"    # чтобы файлы не были root
    environment:
      YII_ENV: prod
      YII_DEBUG: "0"
    depends_on:
      - postgres
    network_mode: host
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: loans
    network_mode: host
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U user -d loans"]
      interval: 5s
      timeout: 3s
      retries: 10
  nginx:
    image: nginx:1.25-alpine
    volumes:
      - ./:/app
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php
    restart: unless-stopped
    network_mode: host